{% extends "base.html" %}

{% block head %}
<link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
{% endblock %}

{% block content %}
<div class="card text-white border-secondary" style="background-color: #222">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div style="text-align: center">
                    <img src="{{ avatars.robohash(user.username) }}" style="width: 60%"><br>
                </div>

            </div>
            <div class="col-sm-8">
                <h1 class="font-wh">{{ user.username }}</h1>
                <h5 style="color: #444">@{{ user.username }}</h5>
                <h5 class="font-wh">{{ user.email }}</h5>
            </div>
        </div>

        <div style="margin-top: 30px">
            <h1>发帖情况</h1>
            {% for post in posts %}
            <div class="card text-white border-secondary" style="background-color: #222">
                <div class="card-body">
                    <div class="row">
                        <a href="{{ url_for('post.detail', id=post.id) }}" style="color: deepskyblue">{{
                            post.post_name }}</a><br>
                        <div style="font-size: 12px">
                            <span class="badge bg-primary">{{ post.category }}</span>
                            <span><i class="bi bi-person"></i> {{post.author.username}} </span>
                            <span>{{ moment(post.create_time).fromNow() }}</span>
                            <span style="float:right; color: aquamarine">
                                <a data-post_id="{{ post.id }}" onclick="delete_post( $(this).data('post_id') )">删除</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function delete_post(post_id) {
        axios({
            method: "post",
            url: "/post/del_post",
            data: {
                post_id: post_id,
            },
        }).then(function (resp) {
            setTimeout(function () {
                location.reload();
            }, 1000);
            toastr.success("删除成功");
        }, function (err) {
            toastr.error("删除时出现错误");
        })
    }
</script>
{% endblock %}